{% extends 'rango/base.html' %}
{% load staticfiles %}
{% block title_block %}
    About
{% endblock %}
	
{% block body_block %}
    <h1>Rango says...</h1>

    <div>
        here is the about page. <br />
        <strong>{{ boldmessage }} </strong><br />
    </div>

    <p> Visits: {{ visits }}</p>

    <div>
        <img src="{% static "images/birdBrains.jpg" %}"
             alt="Picture of bird" />
        <img src="{{ MEDIA_URL}}cat.jpg"
             alt="Picture of cat" />
    </div>
{% endblock %}
